<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title th:text="${title}"></title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
</head>
<body>
<p th:text="${hello}"></p>
<hr>
<p> Name : Indra Septama </p>
<p> Birthdate : 19 September 1997 </p>
<p> Birthplace : Boyolali </p>
<p> Address : Sidomulyo Karanggeneng Boyolali </p>
<p> My Education </p>
<p> Elementary School : SD N 1 Karanggeneng </p>
<p> Junior High School : SMP N 3 Boyolali </p>
<p> Senior High School : SMA N 1 Boyolali </p>
<p> College : University of Indonesia </p>
<p> My Description </p>
<p> I'm from Boyolali and i love Boyolali. My hobby is jogging. </p>

</body>
</html>
